body {
  font: 10px sans-serif;color:#000;
}
div {
}
h1 {font-size:40px;text-transform:uppercase;}

section {}

.group text {
  font: 11px sans-serif;
  pointer-events: none;
}

.chords path {
  fill-opacity: .67;
  stroke: #000;
  stroke-width: .5px;
}
.tickUnit line {stroke:#000;}
.tickUnit text {fill:#000;}
